@import url(https://fonts.googleapis.com/css?family=Lato:300);

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

h1{
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVIGATION BAR */

.header {
    overflow: hidden;
    background-color: #ca9f9f9d;
    padding: 20px 10px;
    width: 100%;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    margin-right: 3vw;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #ab8080d7;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: #ca9f9f10;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }


/* ARROW KEYS */

.textkeys{
    text-align: center;
    margin: 4vw;
    line-height: 1.5;
}

.keys {
  font-family: 'Lato', sans-serif;    
  text-align: center;
  width: 500px;
  height: 200px;
  margin: auto;
}

.arr {
  cursor: pointer;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background: grey;
  color: white;
  font-size: 50px;
  border-right: 10px solid darken(grey, 20);
  border-bottom: 10px solid darken(grey, 20);
  border-left: 10px solid darken(grey, 15);
  border-top: 10px solid darken(grey, 10);  
  display: inline-block;
  margin: 5px;
  transition: all .05s linear;
}

.arr:hover{
  background: rgb(67, 63, 63);
}

.arr:

.up {
  position: relative;
  top: -4px;
}

.pressed {
  border-bottom: 8px solid darken(grey, 20);
  text-shadow: 0 0 10px white;
  transform: translate(0, 2px);
}

.names {
  font-size: 18px;  
  font-family: 'Lato', sans-serif;    
  text-align: center;
  color: white;
  text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white, 0 0 10px white;
}

.b {
  color: blue;  
  text-shadow: 0 0 10px blue, 0 0 10px blue, 0 0 10px blue, 0 0 10px blue;
  font-size: 100px;
  font-family: serif;
}

.a {
  color: yellow;
  text-shadow: 0 0 10px yellow, 0 0 10px yellow, 0 0 10px yellow, 0 0 10px yellow;
  font-size: 100px;
  font-family: serif;
}